{% extends "template.html"%} {% load staticfiles %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <a href="/static/bestun.apk">
              اپلیکیشن اندروید بستون را از اینجا دانلود کنید
            </a>
        </div>
    </div>
</div>

<hr>

{% if message %}
<div class="bs-callout bs-callout-info">
    <h5>{{ message }}</h5>
</div>
{% endif %}


<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">بستون</h3>
            </div>
            <div class="panel-body">
                <p>
                  بستون یک پروژه آموزشی هست برای نگهداری دخل و خرج بر اساس آموزش‌های جادی.
                </p>
                <p>
                  برای ثبت نام برید به <a href="/accounts/register/">صفحه ثبت نام</a>.
                </p>
            </div>
        </div>
        <br /><br />
    </div>

</div>
{% endblock %} {% block footer %}

<script>
    $(document).ready(function() {
        $(".subtaskinput").fadeOut(0);
        $('.fa-square-o').hover(function() {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function() {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

    });

</script>

<script type="text/javascript">
    $(".alert").fadeTo(10000, 500).slideUp(500, function() {
        $(".alert").slideUp(10000);
    });
</script>
{% endblock %}
