{% extends "template.html"%} {% load staticfiles %} {% block content %}
<div class="row">
    <div class="col-lg-12">

        {% if form.errors %}
        <p>
            نام کاربری یا پسورد شما درست نبود.
        </p>
        {% endif %} {% if next %} {% if user.is_authenticated %}
        <p>دسترسی به این صفحه برای اکانت شما تعریف نشده است.</p>
        {% else %}
        <p>
            برای دیدن این صفحه باید لاگین کنید
        </p>
        {% endif %} {% endif %}
        {% if message %}
        <div class="bs-callout bs-callout-info">
            <h5>{{ message }}</h5>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">ورود</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" action="/accounts/login/">
                            {% csrf_token %}
                            <input type="hidden" name="dologin" value="true" />
                            <input type="hidden" name="next" value="{{ next }}" />
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">نام کاربری</label>
                                <div class="col-sm-10">
                                    <input type="text" name="username" class="form-control" placeholder="نام کاربری">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">کلمه عبور</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control" placeholder="پسورد">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">تلاش برای ورود</button>
                                </div>
                            </div>
                        </form>
                        <ul>
                            <li><a href="/accounts/register/">عضو نیستید؟ حیف نیست؟ از اینجا عضو بشین</a></li>
                            <li><a href="/accounts/resetpassword/">پسوردتون گم شده؟ یه جدیدش رو درخواست بدین</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
