@font-face {
    font-family: Vazir;
    src: local('☺'), local('Vazir'),
        url('../lib/ionic/fonts/Vazir.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-weight: bold;
    src: local('☺'), local('Vazir'),
        url('static/fonts/Vazir-Bold.ttf') format('truetype');
}

* {
    font-family: Vazir !important;
}

html {
    direction: rtl;
}

a {
    text-decoration: none;
}

.full-row {
    width: 100%;
    display: block;
}

.table-header {
    background: silver;
    font-weight: bold;
    text-align: center;
    padding: .5em .7em;
}

.separator {
    border-top: 1px solid #e8e8e8;
    margin: 25px 5px;
}