<!--<ion-view view-title="{{link.title}}">-->
<ion-view view-title="جزئیات لینک">
  <ion-content class="padding">
    <!--<img ng-src="{{link.img}}" class="image image-full">
    <p>
      {{link.description}}
    </p>
    <p>
      <small>
        {{link.hitCount}}
      </small>
    </p>-->
  </ion-content>
</ion-view>