<ion-view view-title="ثبت درآمد">
    <ion-content class="padding">
        
        <form ng-submit="submit()" ng-controller="NewIncomeCtrl" accept-charset="utf-8">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">موضوع درآمد</span>
                    <input type="text" placeholder="عنوان" ng-model="text">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">مبلغ به تومان</span>
                    <input type="number" placeholder="مبلغ" ng-model="amount">
                </label>
                <button class="button button-block button-positive">
                    ذخیره
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>