<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="ثبت هزینه">
    <ion-content class="padding">
        
        <form ng-submit="submit()" ng-controller="NewExpenseCtrl" accept-charset="utf-8">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">موضوع هزینه</span>
                    <input type="text" placeholder="عنوان" ng-model="text">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">مبلغ به تومان</span>
                    <input type="number" placeholder="مبلغ" ng-model="amount">
                </label>
                <button class="button button-block button-positive">
                    ذخیره
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>