<ion-view view-title="نمای کلی">
  <ion-content class="padding">
    <div class="row">
      <h2>به بستون خوش اومدین!</h2>
    </div>
    <div class="row">
      <div class="card">
        <div class="item item-text-wrap">
          سلام {{name}}
        </div>
      </div>
    </div>
    <div class="full-row">
      <div class="full-row">
        <h3 class="title">آمار شما در بستون</h3>
      </div>
      <ion-grid class="full-row">
        <div class="row">
          <div class="col table-header"></div>
          <div class="col table-header">دفعات</div>
          <div class="col table-header">جمع مبلغ</div>
        </div>
        <div class="row">
          <!-- ng-repeat="data in ctrl.data" -->
          <div class="col">درآمد</div>
          <div class="col">{{generalstats.incomes.amount__count}}</div>
          <div class="col">{{generalstats.incomes.amount__sum}}</div>
        </div>
        <div class="row">
          <div class="col header">هزینه</div>
          <div class="col">{{generalstats.expenses.amount__count}}</div>
          <div class="col">{{generalstats.expenses.amount__sum}}</div>
        </div>
      </ion-grid>
    </div>
  </ion-content>
</ion-view>