<ion-view view-title="تنظیمات">
  <ion-content class="padding">
    <div ng-controller="SettingsCtrl">

      <div class="card" ng-hide="{{loggedin}}">
        <div class="itme item-text-wrap">
          برای دریافت نام کاربری و کلمه عبور به
          <a href="http://217.219.79.180/" onclick="window.open('http://217.219.79.180/', '_system', 'location=yes'); return false;">
            سایت بستون من</a> مراجعه کنید.
        </div>
      </div>

      <form ng-submit="submit()" accept-charset="utf-8" ng-hide="{{loggedin}}">
        <div class="list">
          <label class="item item-input item-floating-label">
          <span class="input-label">نام کاربری</span>
          <input type="text" placeholder="نام کاربری" ng-model="username">
        </label>
          <label class="item item-input item-floating-label">
          <span class="input-label">کلمه عبور</span>
          <input type="password" placeholder="کلمه عبور" ng-model="password">
        </label>
          <button class="button button-block button-positive">
          ورود
        </button>
        </div>
      </form>

      <button ng-click="logout()" class="button button-assertive button-block" ng-show="{{loggedin}}">
        خروج
      </button>
    </div>

    <div class="separator"></div>

    <div ng-controller="NotesCtrl">
      <h3>یادداشت‌ها</h3>
      <ion-list>
        <ion-item class="item item-text-wrap" ng-repeat="item in notes" type="item-text-wrap">
          <h2>{{item.fields.title}}</h2>
          <p ng-bind-html="item.fields.body" />
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>