<ion-view view-title="لینک‌ها">
  <ion-content>
    <ion-list>
      <div class="card list" ng-repeat="link in links">
        <div class="item item-divider item-icon-right">
          <li class="icon ion-android-open"></li>
          <a href="{{link.url}}" class="" onclick="window.open(this.href, '_system', 'location=yes'); return false;">
            {{link.title}}
          </a>
        </div>
        <a class="item-icon-left item item-thumbnail-right item-text-wrap" type="item-text-wrap" href="#/tab/links/{{link.id}}">
          <img ng-src="{{link.img}}">
          <p>{{link.id}} - {{link.description}}</p>
          <p>
            <small>تعداد بازدید: {{link.hitCount}}</small>
          </p>
          <i class="icon ion-chevron-left icon-accessory"></i>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>