<ion-view view-title="هزینه‌ها">
  <ion-content>

    <div class="full-row">
      <!--<a class="button button-block icon ion-plus-round" href="#/tab/expenses/new">
      ثبت هزینه
      </a>-->

      <!-- new expense from -->
      <div class="padding">
        <form ng-submit="submit()" ng-controller="NewExpenseCtrl" accept-charset="utf-8">
          <div class="list">
            <label class="item item-input item-floating-label">
                    <span class="input-label">موضوع هزینه</span>
                    <input type="text" placeholder="عنوان" ng-model="text">
                </label>
            <label class="item item-input item-floating-label">
                    <span class="input-label">مبلغ به تومان</span>
                    <input type="number" placeholder="مبلغ" ng-model="amount">
                </label>
            <button class="button button-block button-positive">
                    ذخیره
                </button>
          </div>
        </form>
      </div>
    </div>

    <div class="full-row">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="expense in expenses" type="item-text-wrap" href="#/tab/expenses/{{expense.pk}}">
          <h2>{{expense.fields.text}}</h2>
          <p>{{expense.fields.amount}} تومان</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(expense)">
            حذف
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>