<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="نمای کلی" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Expenses Tab -->
  <ion-tab title="هزینه‌ها" icon-off="ion-ios-rainy-outline" icon-on="ion-ios-rainy" href="#/tab/expenses">
    <ion-nav-view name="tab-expenses"></ion-nav-view>
  </ion-tab>

  <!-- Incomes Tab -->
  <ion-tab title="درآمدها" icon-off="ion-ios-cloudy-outline" icon-on="ion-ios-cloudy" href="#/tab/incomes">
    <ion-nav-view name="tab-incomes"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="تنظیمات" icon-off="ion-ios-gear-outline" icon-on="ion-android-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- hozeh links Tab -->
  <ion-tab title="لینک‌ها" icon-off="ion-ios-infinite-outline" icon-on="ion-ios-infinite" href="#/tab/links">
    <ion-nav-view name="tab-links"></ion-nav-view>
  </ion-tab>

</ion-tabs>
